@use 'styles/index.scss';

body {
  font-size: var(--ff-default-size);
  font-family: var(--ff-family), serif;
  background-color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 1rem;
  min-height: 100vh;
}

.grid {
  --col-count: 2;
  --gap: 1.5rem;
  --line-width: 1px;
  --col-width: calc((100% - (var(--gap) * (var(--col-count) - 1))) / var(--col-count));

  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;

  background-image: repeating-linear-gradient(
                  to right,
                  transparent var(--col-width),
                  var(--grid-color) calc(var(--col-width) + var(--line-width)),
                  transparent var(--col-width) calc(var(--col-width) + var(--gap)),
                  var(--grid-color) calc(var(--col-width) + var(--gap)),
                  transparent calc(var(--col-width) + var(--gap) + var(--line-width)),
                  transparent calc(100% - (var(--col-width) + var(--gap)) * (var(--col-count) - 2)),
  );

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background: var(--grid-color);
    opacity: 0.5;
  }
}

h1 {
  font-size: 3em;
  line-height: 3rem;
  margin-top: 2rem;
}

p {
  margin-top: 1.5rem;
  font-size: index.px-to-rem(18px);
  line-height: index.px-to-rem(28px);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

button.clean {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (min-width: 500px) {
  .grid {
    --col-count: 4;
  }
}

@media (min-width: 800px) {
  .container {
    padding: 1rem 2rem;
  }

  .grid {
    --col-count: 6;
  }
}

@media (min-width: 1172px) {
  .container {
    padding: 1rem 4rem;
  }

  .grid {
    --col-count: 8;
  }
}
