@use "reset";
@use "variables" as *;

body {
  font-size: var(--ff-default-size);
  font-family: var(--ff-family), serif;
}

.page {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 1rem 4rem;
}

h1 {
  font-size: 3em;
  line-height: 3rem;
  margin-top: 2rem;
}

p {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
