:root {
  /** colors */
  --clr-white: white;
  --_sudo-private-property-example: red;
  /** fonts */
  --ff-base: "Serif";
  /** fonts */
  --ff-regular: 500;


  --primary-text-color: red;
}

$base-color: #c6538c;
