:root {
  /** colors */
  --clr-white: white;
  --_sudo-private-property-example: red;
  /** fonts */
  --ff-base: "Serif";
  /** fonts */
  --ff-regular: 500;
  --ff-default-size: 16px;
  --ff-family: Blanco,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  /** spaces */


  --primary-text-color: red;
}

$base-color: #c6538c;
